# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# Data, models, and results
/data/
/models/
/results/
*.log
*.pth
*.pt
*.onnx
*.pb
*.h5
*.ckpt
*.tflite
*.zip
*.tar.gz
*.tar
*.tmp
*.bak

# System files
.DS_Store
.env
venv/
.envrc
*.swp
