# Python dependencies for Comparing_ML_FrameWorks
numpy
matplotlib
requests
psutil
torch
torchvision
torchaudio
torchserve
torch-model-archiver
torch-workflow-archiver
tensorflow
tensorflow-serving-api
pillow
jupyter
flask
gunicorn
